<h1>Angular</h1>

<p *ngIf="!isAvailable; else available">Curso en desarrollo. Lanzamiento {{launchDate | date:"dd/MMM/yy h:mm:ss":"0000" | uppercase}}</p>
<ng-template #available>
  <span class="highlight">Curso listo</span>
</ng-template>

<!-- directiva ngswitch con la opcion a evaluar-->
<!-- directiva ngSwtichCase es el valor a comparar definnido en ngSwitch -->
<div class="category" [ngSwitch]='category'>
  <span *ngSwitchCase="'web'">Desarrollo web</span>
  <span *ngSwitchCase="'mobile'">Desarrollo movil</span>
  <span *ngSwitchCase="'other'">Desarrollo General</span>
  <span *ngSwitchDefault>No especificado</span>
</div>

<!-- si no usa binding no se usa []  -->
<!-- <h3 redBorder>Usuario: {{name}}</h3> -->
<!-- se usa binding para enviar un input attribute a la directiva -->
<!-- sobre la misma directiva se le envio otro parametro llamado redClass -->
<h3 [redBorder]="'blue'" [redClass]="'pink-border'">Usuario: {{name}}</h3>

<!-- para enlazar la animacion con el template se debe poner el identificador del trigger se coloca [@identificadorTrigger] -->
<!-- en "" del showUp se coloca la prop de la cual se va obtener el valor de cual estado se encuentra-->
<!-- se ve una animacion entre estados -->
<div [@showUp]="moreInformation" style="overflow: hidden;">
  <a (click)="toggleMoreInformation()">Mas información <i class="fa " [ngClass]="{'fa-chevron-circle-down': !moreInformation, 'fa-chevron-circle-up': moreInformation}"></i></a>
  <!-- <p *ngIf="moreInformation">
    <span style="display: block; font-weight: bold;">{{seconds | secondsToTimeFormat: true }}</span>
    Tutorial de angular, este un ejemplo de un boton toggle, para mostrar u ocultar informacion al hacer click en el boton
  </p> -->
  <!-- se comento el ngIf, pues se va usar animacion para mostrar u ocultar, se agrego tambien overflow: hidden en el contenedor-->
  <!-- si el contenido es mas grande q cierto tamaño, lo esconde -->
  <p>
    <span style="display: block; font-weight: bold;">{{seconds | secondsToTimeFormat: true }}</span>
    Tutorial de angular, este un ejemplo de un boton toggle, para mostrar u ocultar informacion al hacer click en el boton
  </p>
</div>

<ul>
  <li *ngFor="let topic of topics; index as posicion">{{posicion + 1 }} - {{topic}}</li>
</ul>

<div>
  <button [disabled]="!isAvailable || !subscribed" [ngClass]="{active: isAvailable && subscribed, shadow: !isAvailable}" type="button" name="button">
    Inscribir {{price | currency:"S/."}}
  </button>
</div>
