:host{
  display: block;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
  padding: 1em;
  width: 400px;
  max-height: 500px;
  overflow-y: scroll;
  margin-right: 2em;
}

/* ul{
  overflow: hidden;
}

.show{
  animation: 0.4s ease-out 0s showUp;
} */

/* @keyframes showUp{ */
  /* se definiio 2 frames */
  /* 0%{ */
    /* transform: scale(0); */
    /* max-height: 0px;
    opacity: 0;
  } */

  /* 100%{ */
    /* transform: scale(1); */
    /* max-height: 1000px;
    opacity: 1;
  }
} */
